* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: lightgrey;
}

body {
    color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    padding: 40px;
}

/* header style starts */
header {
    color: var(--secondary-color);
    padding: 5px 15px;
    background-color: #487b7d;
    display: flex;
    justify-content: space-between;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 24px;
    color: var(--secondary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

/* footer style starts */
footer {
    color: var(--primary-color);
    width: 100%;
    padding: 45px 35px;
    display: flex;
    justify-content: space-between;
}

footer h1 {
    font-weight: bold;
    font-size: 45px;
    color: var(--primary-color);
    margin: 0;
}

footer a {
    text-decoration: none;
    color: var(--primary-color);
}

footer nav {
    margin: 7px 0;
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
  }

/* hero style starts */
.hero {
    background-image: url("./images/hero-design.jpg");
    background-size: cover;
    background-attachment: local;
    background-position: 80%;
    display: inside;
    justify-content: right;
    align-items: flex-end;
    overflow: auto;
}

.hero-img {
    float: right;
    margin: 1px;
}

.hero h3 {
    padding: 10px 10px;
    font-weight: bolder;
    font-size: 22px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}