* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: lightgrey;
}

body {
    color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    color: var(--secondary-color);
    padding: 5px 15px;
    background-color: #487b7d;
    display: flex;
    justify-content: space-between;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 24px;
    color: var(--secondary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

  /* hero style starts */
  .hero {
    background-image: url("assets/images/hero-design.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
}